html body {
    height: 100%;
    width: 100%;
    background-color: #e2ebec;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: #008cba;
}

.btn-delete {
    background-color: #e82764;
}

.btn-view {
    background-color: #e7e7e7;
    color: black;
}

.btn-contact {
    background-color: #e82764;
    margin-top: 30px;
}

.btn-turma {
    margin-left: 240px;
    margin-top: 73px;
    background-color: #afafaf;
    opacity: 0.35;
    color: black;
    border-style: solid;
    width: 135px;
    height: 50px;
}

.btn-exit {
    margin-top: 73px;
    margin-left: 400px;
    background-color: red;
    color: black;
    height: 50px;
    width: 75px;
}

.btn-chamada {
    margin-top: 73px;
    margin-left: 90px;
    background-color: #afafaf;
    color: black;
    width: 120px;
    height: 50px;
}

header {
    display: flex;
    margin-bottom: 2rem;
}

.escolainfinito {
    margin-top: 0px;
    margin-left: 435px;
    opacity: 1;
}

.user {
    margin-top: 30px;
    margin-left: 50px;
}

.username{
    margin-left: 25px;
    margin-top: 47.5px;
}   

.a1 {
    width: 0px;
}

.a2 {
    width: 0px;
}

.a3 {
    width: 0px;
}

/* Estilos para telas menores */
@media only screen and (min-width: 100px) and (max-width: 1000px) {
    .styled-table {
    max-width: 100%;
    }
    
    .btn-turma {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    }
    
    .btn-exit {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    }
    
    .btn-chamada {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    }
    
    .escolainfinito {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    }
    
    .user {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    }
    
    .username {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    }
    
    header {
    display: block;
    margin-bottom: 1rem;
    }
    }