<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Escolha uma Disciplina: </h1>
</div>

<div class="table-responsive">
  
      <tbody class="tabela">
            <ul class="list-group py-5">

                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>Matemática:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioMat" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              
                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>História:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioHist" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              
                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>Português:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioPort" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              
                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>Biologia:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioBio" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              
                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>Química:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioQuim" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              
                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>Filosofia:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioFilo" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              
                <li class="list-group-item"> 
                  <div class="row">
                    <div class="col" style="max-width: 140px"> <b>Física:</b></div>
                    <div class="d-flex flex-row justify-content-end gap-2">
                      <a href="/relatorioFis" type="button" class="btn btn-primary btn-small">
                          <i class="bi bi-archive-fill"></i> Ver Relatório de Faltas
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
      </tbody>
    </table>
  </div>

  <% if (alunos.length > 0) { %>
    <nav aria-label="Dashboard Pagination">
      <ul class="pagination justify-content-center mt-5">
  
      </ul>
    </nav>
  <% } %>