<div id="printarea">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Relatório de Faltas em Português</h1>
        <a onclick="window.print()" type="button" class="btn btn-primary btn-small">
            <i class="bi bi-printer-fill"></i>
        </a>
    </div>
    
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Email do Responsável</th>
                <th scope="col" class="text-center">Faltas</th>
                <th scope="col" class="text-end"></th>
                </tr>
            </thead>
        
            <tbody id="relatorio">
                <% alunos.forEach(element => { %>
                <tr class="align-middle">
                    <td><%= element.firstName %></td>
                    <td><%= element.lastName %></td>
                    <td><%= element.email %></td>
                    <td class="text-center"><%= element.faltasPort %></td>
                    <td class="text-end">
                </tr>
                <% }) %>
            </tbody>
            </table>
        </div>
    </div>
    
      <% if (alunos.length > 0) { %>
        <nav aria-label="Dashboard Pagination">
          <ul class="pagination justify-content-center mt-5">
      
          </ul>
        </nav>
    
      <% } %>
    